*~
*.a
arch/arm/boot/compressed/lib1funcs.S
arch/arm/boot/compressed/piggy.gzip
arch/arm/boot/compressed/vmlinux
arch/arm/boot/compressed/vmlinux.lds
arch/arm/boot/Image
arch/arm/boot/zImage
arch/arm/kernel/asm-offsets.s
arch/arm/kernel/vmlinux.lds
*.cmd
.config
.config.old
*.diff
drivers/char/consolemap_deftbl.c
drivers/char/defkeymap.c
*.gz
include/asm
include/asm-arm/
include/config/
include/generated/
include/linux/autoconf.h
include/linux/bounds.h
include/linux/compile.h
include/linux/utsrelease.h
include/linux/version.h
Kernel/arch/arm/boot/compressed/lib1funcs.S
Kernel/arch/arm/boot/xipImage
kernel/bounds.s
kernel/config_data.h
kernel/timeconst.h
*.ko
lib/crc32table.h
lib/gen_crc32table
*.lzma
*.lzo
.missing-syscalls.d
*.mod.c
modules.order
Module.symvers
*.o
*.patch
scripts/basic/docproc
scripts/basic/fixdep
scripts/basic/hash
scripts/bin2c
scripts/conmakehash
scripts/kallsyms
scripts/kconfig/*
scripts/mod/elfconfig.h
scripts/mod/mk_elfconfig
scripts/mod/modpost
System.map
*.tar
.tmp*
.tmp_kallsyms1.S
.tmp_kallsyms2.S
.tmp_System.map
.tmp_versions/
.tmp_vmlinux1
.tmp_vmlinux2
usr/gen_init_cpio
usr/.initramfs_data.cpio.d
usr/initramfs_data.cpio.lzma
.version
vmlinux
